@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-logo-cloud {
  display: flex;
  animation: slide 10s linear infinite;
}

body {
  font-family: 'Bebas Neue', sans-serif;
}

p, input, textarea {
  font-family: 'Montserrat', sans-serif;
}

footer, .donateus {
  font-family: 'poppins', sans-serif;
}  

.slick-slide > div {
  margin: 10px;
}
